@page
@model IndexModel
@{
    ViewData["Title"] = "TestPage";
}

<div class="text-center">
    <h1 class="display-4">Hello World!</h1>
    <p>Learn about <a href="https://www.lithographix.com">Lithographix!</a>.</p>
</div>
